*{
    margin: 0;
    padding: 0;
    border: 1px solid red;
    box-sizing: border-box;
}

html,
body{
   height: 100%;
   width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    height: 600px;
    width: 450px;
    flex-direction: column;
    padding: 10px;
}

.inside{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.header{
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: end;
}

.display{
    margin-top: 50px;
    height:90px;
}

.buttons{
    display: flex;
    flex: 8;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
}

.button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.zero{
    flex: 2;
}