*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

html,
body{
   height: 100%;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator */

.calculator{
    display: flex;
    height: 600px;
    width: 450px;
    flex-direction: column;
    padding: 14px;
    background-color: black;
    border-radius: 15px;
}

.inside{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 28px;
}

/* Header */

.header{
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: end;
}

.display{
    height:90px;
}

/* Buttons */

.buttons{
    display: flex;
    flex: 8;
    flex-direction: column;
    gap: 8px;
}

.row{
    display: flex;
    flex: 1;
    gap: 8px;
}

.button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.number{
    background-color: #333;
}

.operator{
    background-color: orange;
}

.func{
    background-color: #555;
}